.decrement-button,
.increment-button {
  border: none;
  text-decoration: none;
  border-radius: 8px;
  background-color: #a1e268;
  width: 28px;
  height: 28px;
  font-weight: bold;
}
.decrement-button {
  background-color: #c7c7c7;
}
