.tabel {
  margin-left: 75px;
  margin-right: 75px;
}
.status-button {
  background-color: #ffd666;
  color: black;
  padding: 5px 20px;
  border-radius: 24px;
  cursor: pointer;
}
.confirmed-status {
  background-color: #52c41a;
  color: black;
  padding: 5px 20px;
  border-radius: 24px;
  cursor: pointer;
}
.detail-button {
  background-color: #52c41a;
  color: black;
  padding: 5px 20px;
  border-radius: 24px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .tabel {
    margin-left: 15px;
    margin-right: 15px;
  }
}
